.success-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1D1D1E !important;
  color: beige;
  padding: 50px;
  h1{
    font-size: 25px;
  }
 ::ng-deep mat-icon{
    color: #089b08;
  }
}
