.game-card{
  width: 410px;
  height: auto;
  background: var(--bg-color);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 0!important;
  .card-header{
    display: block !important;
  }
  img{
    width: 100%;
    height: 250px;
    border-top-left-radius:15px ;
    border-top-right-radius:15px ;
  }
  mat-card-title{
    margin-top:10px ;
    color: var(--text-color);
    font-family: "Smooch Sans", sans-serif !important;
    font-size: 25px;

  }
  transition: all 300ms ease-out;
  &:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow:4px 3px 7px 7px var(--bg-color);
  }
}
.rating{
  color: var(--text-color);
  margin-right: 330px;
  margin-top: 9rem;
  font-family: "Smooch Sans", sans-serif !important;
  font-size: 35px;
  z-index: 1;
  position: absolute;
  border: 1px solid var(--bg-color);
  background: var(--bg-color);
  border-radius: 50%;
  padding: 15px;
}
