.game-card{
  width: 410px;
  height: auto;
  background: rgb(125, 123, 123, 0.80);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 0!important;
  .card-header{
    display: block !important;
  }
  img{
    width: 100%;
    height: 250px;
    border-top-left-radius:15px ;
    border-top-right-radius:15px ;
  }
  mat-card-title{
    margin-top:10px ;
    color: white;
  }
  &:hover{

    box-shadow:4px 3px 7px 7px rgba(125, 123, 123, 0.8);
  }
  .loader {
    color: #1D1D1E;
    display: flex;
    width: auto;
    margin: 0 auto;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1627855437292-7efeee237b12?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGdhbWVzfGVufDB8fDB8fA%3D%3D&w=1000&q=80") !important;
    justify-content: center;
    align-items: center;
    ::ng-deep .mat-spinner circle {
      stroke: white;
    }
  }


}
.rating{
  color: white;
  margin-right: 330px;
  margin-top: 11rem;
  font-size: 20px;
  z-index: 1;
  position: absolute;
  border: 1px solid #1D1D1E;
  background: #1D1D1E;
  border-radius: 50%;
  padding: 15px;
}
