<div id="game-card" (click)="showGameDetails()">
  <mat-card class="game-card">
    <mat-card-header class="card-header">
      <img src="{{game.background_image}}" alt="Game Image">
    </mat-card-header>
    <mat-card-title>{{game.name}}</mat-card-title>
    <div class="rating">
      <span [innerText]="game.metacritic"></span>
    </div>
    <mat-card-content>
      <div>
        <mat-icon>add_shopping_cart</mat-icon>
      </div>
      <div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<router-outlet></router-outlet>
