<div id="games-details" class="game-details">
  <div *ngIf="!gameDetails">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="gameDetails">
    <div class="btn-back">
      <button (click)="backButton()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <div class="game-header">
      <div class="game-image">
        <div class="metacritic-position">
          <span [innerText]="gameDetails.metacritic"></span>
        </div>
        <img src="{{gameDetails.background_image}}" alt="Image Poster" width="450px">
      </div>
      <div class="game-name">
        <h1>{{gameDetails.name_original}}</h1>
        <div>
        <span>
          <a href="#"><app-play-station></app-play-station></a>
        </span>
          <span>
          <a href="#"><app-xbox></app-xbox></a>
        </span>
          <span>
          <a href="#"><app-windows></app-windows></a>
        </span>
        </div>
        <div class="game-rating">
          <div>
            <h2>Genres</h2>
            <ul>
              <li *ngFor="let genre of gameDetails.genres">{{genre.name}}</li>
            </ul>
          </div>
          <p>Rating --- {{gameDetails.rating}}</p>
          <p>Rating --- {{gameDetails.rating_top}}</p>
        </div>
        <a href="{{gameDetails.website}}">Game WebSite </a>
      </div>
    </div>
    <div class="games-description">
      <div [innerHTML]="gameDetails.description" *ngIf="gameDetails"></div>
      <div>
        <div class="stores-header"><h2>Stores</h2></div>
        <mat-divider></mat-divider>
        <div class="stores">
          <div *ngFor="let str of gameDetails.stores">
            <a href="{{str.store.domain}}">{{str.store.name}}</a>
          </div>
        </div>
      </div>
      <div>
        <mat-tab-group class="tabs">
          <mat-tab>
            <ng-template mat-tab-label><span class="tab-header">ScreenShots</span></ng-template>
            <div class="screenshots" *ngFor="let screenshot of screenShots">
                 <span *ngIf="!screenshot.is_deleted">
              <img src="{{screenshot.image}}" alt="Game screenshot">
                 </span>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label><span class="tab-header">Game Trailers</span></ng-template>
            <div class="videos">
                 <span *ngFor="let video  of videos">
                   <h2>{{video.name}}</h2>
                   <img src="{{video.preview}}" alt="{{video.name}}">
                   <!--                   TODO  show video -->
                   <!--                   <iframe-->
                   <!--                     width="480px"-->
                   <!--                     height="480px"-->
                   <!--                     [src]="video.date"-->
                   <!--                     frameborder="0"-->
                   <!--                     allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
                   <!--                     allowfullscreen-->
                   <!--                   ></iframe>-->
                </span>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label><span class="tab-header">Platforms</span></ng-template>
            <div *ngFor="let pm of gameDetails.platforms" class="platforms">
              <img src="{{pm.platform.image_background}}" alt="{{pm.platform.name}}">
              <h2>{{pm.platform.name}}</h2>
              <span>games on this platform --- {{pm.platform.games_count}}</span>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label><span class="tab-header">Achievement's</span></ng-template>
            <div class="platforms" *ngFor="let achievement of achievements ">
              <img src="{{achievement.image}}" alt="{{achievement.name}}">
              <h2>{{achievement.name}}</h2>
              <p>{{achievement.description}}</p>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>

