<div id="games-details" class="game-details">
  <div *ngIf="!gameDetails">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="gameDetails">
    <div class="game-header">
      <div class="game-image">
        <img src="{{gameDetails.background_image}}" alt="Image Poster" width="450px">
      </div>
      <div class="metacritic-position" [innerText]="gameDetails.metacritic"></div>
      <div class="game-name">
        <h1>{{gameDetails.name_original}}</h1>
        <div>
        <span>
          <a href="#"><app-play-station></app-play-station></a>
        </span>
          <span>
          <a href="#"><app-xbox></app-xbox></a>
        </span>
          <span>
          <a href="#"><app-windows></app-windows></a>
        </span>
        </div>
      </div>
    </div>
    <div class="games-description">
      <div [innerHTML]="gameDetails.description" *ngIf="gameDetails"></div>
      <div>
        <mat-tab-group class="tabs">
          <mat-tab>
            <ng-template mat-tab-label><span class="tab-header">ScreenShots</span></ng-template>
            <div class="screenshots" *ngFor="let screenshot of screenShots">
                 <span *ngIf="!screenshot.is_deleted">
              <img src="{{screenshot.image}}" alt="Game screenshot">
                 </span>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label><span class="tab-header">Game Trailers</span></ng-template>
            <div class="videos" >
                 <span *ngFor="let video  of videos">
                   <h2>{{video.name}}</h2>
                   <img src="{{video.preview}}" alt="{{video.name}}">
<!--                   <iframe-->
<!--                     width="480px"-->
<!--                     height="480px"-->
<!--                     [src]="video.date"-->
<!--                     frameborder="0"-->
<!--                     allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
<!--                     allowfullscreen-->
<!--                   ></iframe>-->
                </span>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label><span class="tab-header">Achievements</span></ng-template>
            <div class="videos" >
                 <span *ngFor="let video  of videos">
                   <h2>{{video.name}}</h2>
                   <img src="{{video.preview}}" alt="{{video.name}}">
                   <!--                   <iframe-->
                   <!--                     width="480px"-->
                   <!--                     height="480px"-->
                   <!--                     [src]="video.date"-->
                   <!--                     frameborder="0"-->
                   <!--                     allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
                   <!--                     allowfullscreen-->
                   <!--                   ></iframe>-->
                </span>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>

