.game-details {
  background: rgb(125, 123, 123, 0.80);
  margin: 25px;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .metacritic-position {
    font-size: 25px;
    font-weight: 400;
    color: white;
    background: #1D1D1E;
    border: 1px solid #1D1D1E;
    border-radius: 50%;
    padding: 15px;
    z-index: 1;
    position: absolute;
    top: 410px;
    margin-left: 345px;

  }

  .game-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      color: white;
      padding-bottom: 5px;
      border-bottom: 1px solid white;
    }

    span {
      margin-right: 10px;
    }
  }

  .game-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .game-image {
    margin: 25px;

    img {
      width: 600px;
      border-radius: 10px;
    }
  }
}

.games-description {
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
  max-width: 800px;
  padding: 25px;
  .screenshots{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  img{
    width: 450px;
    margin: 25px;
  }
  }
  .tabs{
    .tab-header{
      color: beige;
      font-size: 20px;
      font-weight: 100;
    }

  }
}
