<div id="wrap" class="nav-bar">
  <div>
    <button mat-icon-button [mat-menu-trigger-for]="menu"><mat-icon>menu</mat-icon></button>
    <mat-menu #menu="matMenu" class="menu">
      <button>Creator-role</button>
      <mat-divider></mat-divider>
      <button>creators</button>
      <mat-divider></mat-divider>
      <button>Developers </button>
      <mat-divider></mat-divider>
      <button>Tags</button>
      <mat-divider></mat-divider>
      <button>Stores</button>
      <mat-divider></mat-divider>
      <button>Publisher</button>
      <mat-divider></mat-divider>
      <button>Platforms</button>
    </mat-menu>
  </div>
  <div id="nav" class="nav-links">
    <a routerLink="">Home</a>
    <a routerLink="games">Games</a>
    <a routerLink="#">Developer</a>
    <a routerLink="#">Consoles</a>
    <button class="search-dialog" (click)="openSearchWindow()">
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <div id="user-icon">

  </div>
  <div class="login-btn">
    <button>Login</button>
  </div>
</div>
<router-outlet></router-outlet>

