<div id="wrap" class="nav-bar">
  <div class="login-btn">
    <button (click)="openLoginModal()">Login</button>
  </div>
  <div id="nav" class="nav-links">
    <a routerLink="">Home</a>
    <a routerLink="games">Games</a>
    <a routerLink="developers">Developer</a>
    <a routerLink="consoles">Creators</a>
    <button class="search-dialog" (click)="openSearchWindow()">
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <div class="user-icon">
    <a routerLink="user">
      <mat-icon>supervised_user_circle</mat-icon>
    </a>
  </div>
</div>
<router-outlet></router-outlet>

