<div class="login">
  <app-loader *ngIf="loading"></app-loader>
  <div class="dialog-header">
    <button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="padding-for-form">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="Login()">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input formControlName="email" autocomplete="false" matInput type="text" placeholder="Ex. pat@example.com">
                <mat-error *ngIf="!loginForm.hasError('required')">
                  Email address is invalid
                </mat-error>
      </mat-form-field>
      <app-show-hide-password class="password">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput  type="password">
                  <mat-error *ngIf="!loginForm.hasError('required')">
                    Password invalid
                  </mat-error>
        </mat-form-field>
      </app-show-hide-password>
      <div class="position-button-form">
        <button class="button-form" [disabled]="loginForm.invalid" >
          <mat-icon>login</mat-icon>
        </button>
      </div>
    </form>
  </div>
  <div class="dialog-footer"></div>
</div>
