<div class="register-modal">
  <div class="dialog-header">
    <button (click)="oNClick()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="padding-for-form">
    <form class="register-form" [formGroup]="registrationForm" (ngSubmit)="Registration()">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input formControlName="name"
               autocomplete="false"
               matInput type="text"
               placeholder="Leanne"
               [errorStateMatcher]="matcher"
        >
                <mat-error *ngIf="!registrationForm.hasError('required')">
                  Please enter a valid email address
                </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Surname</mat-label>
        <input formControlName="surname" autocomplete="false" matInput type="text" placeholder="Graham">
                <mat-error *ngIf="!registrationForm.hasError('required')">
                  Please enter a valid email address
                </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input  formControlName="email" matInput type="text" placeholder="Ex. pat@example.com">
                <mat-error *ngIf="!registrationForm.hasError('required')">
                  Please enter a valid email address
                </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input formControlName="phone" matInput type="text" placeholder="+38069535214">
                <mat-error *ngIf="!registrationForm.hasError('required')">
                  Please enter a valid email address
                </mat-error>
      </mat-form-field>
      <app-show-hide-password class="password">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput  type="password" [errorStateMatcher]="matcher">
                  <mat-error *ngIf="!registrationForm.hasError('require')">
                    Please enter a 8 symbols
                  </mat-error>
          <mat-error *ngIf="registrationForm.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </app-show-hide-password>
      <div class="position-button-form">
        <button class="button-form" [disabled]="registrationForm.invalid" >
          <mat-icon>login</mat-icon>
        </button>
      </div>
    </form>
  </div>
  <div class="dialog-footer"></div>
</div>





