@use '~@angular/material' as mat;
@include mat.core();
$games-app-primary: mat.define-palette(mat.$indigo-palette);
$games-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$games-app-warn: mat.define-palette(mat.$red-palette);
$games-app-theme: mat.define-light-theme((
  color: (
    primary: $games-app-primary,
    accent: $games-app-accent,
    warn: $games-app-warn,
  )
));
@include mat.all-component-themes($games-app-theme);

@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100;200;300;400;500&display=swap');
html, body {
  height: auto;
  font-family:'Smooch Sans', sans-serif !important;
  scroll-behavior: smooth;
}
body {
  user-select: none;
  margin: 0;
  background: var(--bg-color);
  h1 , h2, h3, h4 ,h5 , h6, span, div, p{
    color: var(--text-color);
  }
  letter-spacing: 1px;
}
body{
  --text-color:beige;
  --bg-color:rgb(13, 13, 22, 0.63)!important
}
body.white-theme{
  --text-color:  rgb(13, 13, 22, 0.63);
  --bg-color: white !important;
}

app-games div {
  height: auto;
}

app-home > div {
  height: 100vh;
}

.pagination .ngx-pagination .current {
  background: #C4C4C4;
  border-radius: 15px;
  color: black;
}


.pagination .ngx-pagination {
  font-size: 15px;
  li {
    margin-right: 10px;
  }
  a {
    color: white !important;
  }
  li > a:hover {
    background: #C4C4C4;
    border-radius: 15px;
    color: black;
  }
}


