<div id="all-games" class="all-games">
  <div class="loader" *ngIf="!games" >
    <mat-spinner></mat-spinner>
  </div>
  <div class="games-header">

  </div>
  <div id="Games" class="games" *ngIf="games">
    <div *ngIf="items" class="games-list">
      <app-game *ngFor="let game of games | paginate :{ itemsPerPage: 25, currentPage: page, totalItems:items.count}"
                [game]="game"></app-game>
    </div>
    <div class="pagination-controllers">
      <pagination-controls class="pagination" (pageChange)="navigateTo($event)"></pagination-controls>
    </div>
  </div>
</div>
